.upsert-form-overlay {
    position: fixed;
    inset: 0;
    background-color: var(--color-overlay-dark-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
