.navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: sticky;
    width: 100%;
    background-color: var(--color-surface);
    z-index: 1000;
    overflow: visible;
}

.navbar > * {
    display: flex;
    align-items: stretch;
}

.navbar .left {
    margin-left: 1rem;
}

.navbar .right {
    margin-right: 1rem;
}

.navbar .item {
    color: var(--color-text-inverted);
    padding: 0.5rem 0.75rem;
}

.navbar .item:hover {
    background-color: var(--color-surface-hover);
}

.navbar .dropdown {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar .dropdown-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 2.75rem;
    background-color: var(--color-surface);
}

.down-caret {
  font-size: 8pt;
  margin: 0 0.5rem;
}
