table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-surface);
    text-align: left;
    flex-grow: 1;
}

.header {
    background-color: var(--color-surface);
    color: var(--color-text-inverted);
}
