table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-surface);
    text-align: left;
    flex-grow: 1;
}

.header {
    background-color: var(--color-surface);
    color: var(--color-text-inverted);
}

.actions-cell {
    border: 0;
    padding: 0;
    position: relative;
}

.actions-cell .actions {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.actions-cell .actions button {
    padding: 0.25rem;
    padding-bottom: 0;
    margin: 0.25rem;
    border-radius: 0.25rem;
}

.actions .edit-btn {
    background-color: var(--color-edit);
    color: var(--color-text-inverted);
}

.delete-btn {
    background-color: var(--color-delete);
    color: var(--color-text-inverted);
}
