/* Default styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color Palette */
  --color-bg: #ffffff;
  --color-bg-off: #b8b8b8;
  --color-text: #000000;
  --color-text-inverted: #ffffff;
  --color-surface: #27283c;
  --color-surface-hover: #4a4c7a;
  --color-link: #646cff;
  --color-link-clicked: #535bf2;
  --color-delete: #fc4545;
  --color-edit: #fbac2e;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-clicked);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-link);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Common styles */
#root {
  width: 100%;
  font-size: 14pt;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
}

.background {
    padding: 1rem 20%;
    background-color: var(--color-bg);
    flex: 1;
}

@media (max-width: 768px) {
    .background {
        padding: 1rem 0;
    }
}

.title {
  font-size: 30pt;
  font-weight: 600;
  margin: 1rem 0;
}

.down-caret {
  font-size: 8pt;
  margin: 0 0.5rem;
}
